/* counter/src/App.module.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    transition: 0.2s;
    min-height: 100vh;
    background-color: #e5e5e5;
}

.container.dark {
    transition: 0.2s;
    background-color: #111111;
}