/* counter/src/components/Counter.module.css */
.box {
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 250px;
    padding: 30px 40px;
    background-color: #e5e5e5;
    border-radius: 20px;
    box-shadow:
        6px 6px 12px rgba(0,0,0,0.3),
        -6px -6px 12px rgba(255, 255, 255, 0.8);
    gap: 10px;
}

.box.dark {
    background-color: #111111;
    box-shadow:
        6px 6px 12px rgba(0,0,0,0.7),
        -6px -6px 12px rgba(255,255,255,0.1);
}

.box h1 {
    transition: 0.2s;
    margin: 0;
    color: #616161;
    white-space: nowrap;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.box.dark h1 {
    transition: 0.2s;
    color: white;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.6);
}

.buttons {
    display: flex;
    gap: 30px;
}

.button {
    background-color: #e5e5e5;
    transition: 0.2s;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow:
        6px 6px 12px rgba(0,0,0,0.2),
        -6px -6px 12px rgba(255,255,255,0.8);
}

.box.dark .button {
    color: white;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.6);
    background-color: #111111;
    box-shadow:
        6px 6px 12px rgba(0,0,0,0.7),
        -6px -6px 12px rgba(255,255,255,0.1);
}


.box .min:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px red;
    background-color: red;
    color: white;
}

.box .max:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px green;
    background-color: green;
    color: white;
}

.box .reset:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px yellow;
    background-color: yellow;
    color: black;
}

.box .button:active {
    transform: translateY(4px);
}